@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  justify-content: start;
}
