/* stylelint-disable */
@mixin sm {
  @media (min-width: 640px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1536px) {
    @content;
  }
}
@mixin dark {
  @extend %btn;
  background-color: $black;
  color: $white;
  &:hover {
    background-color: mix($black, $white, 50%);
    color: mix($white, $black, 20%);
  }
}
@mixin light {
  @extend %btn;
  opacity: 0.7;
  color: $black;
  &:hover {
    background-color: mix($black, $white, 80%);
    color: mix($white, $black, 80%);
  }
}