html {
  box-sizing: border-box;
}
body {
  @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");
}
.wrapper {
  flex-direction: column;
  display: flex;
  .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    position: relative;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
  }
}

  .menu {

    width: 268px;
    height: 960px;
    background-color: rgb(23, 23, 23);
    border-radius: 30px;
    font-family: "Lexend", sans-serif;
    .easypay {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    span {
      font-size: 25px;
      padding-left: 8px;
      font-weight: bold;
      }
    }
    .main_menu {
      margin-top: 120px;
      color: white;
      position: relative;
      p {
        margin: 0px 0px 10px 30px;
      }
    }
    li {
      position: relative;
      z-index: 5;
      line-height: 160%;
      cursor: pointer;
      list-style: none;
    }
    li::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url(..//img/category.svg);
      background-size: cover;
      background-position: center center;
      margin-right: 12px;
      vertical-align: top;
    }
    li:nth-child(1):before {
      background-image: url(..//img/category.svg);
    }
    li:nth-child(2):before {
      background-image: url(..//img/chart.svg);
    }
    li:nth-child(3):before {
      background-image: url(..//img/send.svg);
    }
    li:nth-child(4):before {
      background-image: url(..//img/plus.svg);
    }
    li:nth-child(5):before {
      background-image: url(..//img/upload.svg);
    }
    li:nth-child(6):before {
      background-image: url(..//img/wallet.svg);
    }
    li:nth-child(7):before {
      background-image: url(..//img/paper.svg);
    }
  }
  li::after {
    content: "";
    display: inline-block;
    background-color: blue;
    width: 236px;
    height: 50px;
    position: absolute;
    top: -12px;
    right: 16px;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
  }
  li:hover::after {
    opacity: 1;
  }
  span::after {
    content: url("..//img/rectangle.svg");
    display: inline-block;
    width: 4px;
    height: 26px;
    position: absolute;
    right: 30px;
    opacity: 0;
    z-index: 10;
    border-radius: 1.5px;
  }
  li:hover {
    span:after {
      opacity: 1;
    }
  }
  .account {
    margin-top: 210px; //350px
    font-size: 20px;
    color: white;
    li:nth-child(1):before {
      background-image: url(..//img/profile.svg);
    }
    li:nth-child(2):before {
      background-image: url(..//img/setting.svg);
    }
  }
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;  
  }


// @include menumax;



.information {
  line-height: 25px;
  font-family: Lexend-SemiBold;
  width: 710px;
  height: 960px;
  // border: 3px solid;
  border-radius: 30px;
  .bread {
    max-width: 700px;
    display: flex;
    align-items: center;
  .chicken {
      width: 50%;
      height: 20%;
      line-height: 5px;
    p:nth-child(1) {
        margin-left: 25px;
        font-size: 25px;
        font-weight: bold;
      }
      p:nth-child(2) {
        margin-left: 27px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.499);
      }
    }
  }
  .potato {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      border: 3px solid;
      border-color: white;
      background-color: rgb(243, 237, 237);
    }
  }
  .balance {
    margin-top: 90px;
    p {
      margin-left: 30px;
    }
    p:nth-child(1) {
      font-size: 30px;
      font-weight: bold;
    }
    p:nth-child(2) {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.426);
    }
    p:nth-child(3) {
      span:nth-child(1) {
        font-size: 50px;
        font-weight: bold;
        color: #1B224A;
      }
      span:nth-child(2) {
        font-size: 50px;
        font-weight: bold;
        padding-left: 15px;
        color: $blue;
      }
    }
    p:nth-child(4) {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.426);
    }
  }
  .btn_dark {
    @include dark;
  }
  .btn_ligth {
    @include light;
  }
  
  .list {
    @include flex-start;
    list-style-type: none;
    gap: 32px;
  }
  .transaction {
    margin-top: 80px;
    @include flex_between;
    padding-left: 28px;
    padding-right: 68px;
    span:nth-child(1) {
      font-size: 28px;
    }
    .view {
      span  {
        font-size: 15px;
      }
    }
  }
  table {
    overflow-y: scroll;
    height: 400px;
    display: grid;
    min-height: 10vh;
    font-size: 20px;
    text-align: left;
    margin-left: 28px;
    thead {
      th {
        width: 170px;
        height: 70px;
        color: rgba(0, 0, 0, 0.491);
        font-size: 15px;
        position: sticky;
      }
    } 
    tbody {
      tr {
        th {
          width: 164px;
          height: 70px;
          p {
            line-height: 5px;
          }
          p:nth-child(1) {
            font-size: 17px;
            color: black;
          }
          p:nth-child(2) {
            font-size: 13px;
            color: rgba(0, 0, 0, 0.346);
          }
        }
        .Date {
          font-size: 15px;
        }
        .Amount {
          font-size: 15px;
          font-weight: bold;
        }
        .Status {
          color: green;
          font-size: 15px;

        }
      }
    }

  }
}

.pay_info {
  width: 430px;
  height: 960px;
  border-radius: 30px;
  // border: 3px solid;
  font-family: Lexend-Medium;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  gap: 30px;
  .card {
    @include flex-center;
  }
  .card_info {
    width: 100%;
    height: 50px;
    @include flex_around;
    span {
      font-size: 23px;
    }
  }
  .card_in {
    width: 100%;
    height: 50px;
    @include flex_around;
    span {
      color: rgba(0, 0, 0, 0.453);
    }
  }
  .threeinfo {
    @include flex-center;
  .card_on {
    width: 82%;
    height: 50px;
    @include flex_around;
    span {
      font-size: 25px;
    }
    .usdc {
      p {
        line-height: 1px;
      }
      p:nth-child(1) {
        font-size: 17px;
        color: rgba(0, 0, 0, 0.558)   
      }
      p:nth-child(2) {
        font-size: 22px; 
      }
    }
  }
}
.btn_dark {
  @include dark;
  margin-left: 30px
}
.btn_ligth {
  @include light;
}
.transfers {
  height: 40px;
  font-size: 27px;
  margin-left: 30px;
}
  table {
    font-family: Lexend-SemiBold;
    text-align: left;
    margin-left: 30px;
    padding-right: 40px;
    overflow-y: scroll;
    height: 250px;
    display: grid;
    thead {
      .right {
        text-align: right;
      }
      th {
        width: 50%;
      }
      th:nth-child(1) {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.491);
      }
    }
    tbody {
      line-height: 10px;
      .left {
        text-align: left;
        width: 60%;

        p:nth-child(1) {
          font-size: 15px;
        }
        p:nth-child(2) {
          font-size: 13px; 
          color: rgba(0, 0, 0, 0.558)   
        }
      }
      .right {
        text-align: right;
        padding-left: 45px;
        width: 40%;
        font-size: 15px;

      }
      th {
        margin-left: 30px;
      }
    }
  }
}









































.cheec {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 20px;
}
[for="burger"] {
  display: grid;
  place-items: center;
  cursor: pointer;
  gap: 3px;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  padding: 10px;
  z-index: 300;
  top: 30px;
  right: 20px;
  &:hover {
    opacity: 0.7;
  }
}

[for="burger"] > span {
  height: 4px;
  width: 25px;
  background: rgb(0, 0, 0);
  transition: transform 0.3s linear;
}

#burger:checked ~ label > span:nth-child(1) {
  transform: rotate(-45deg);
  position: absolute;
}
#burger:checked ~ label > span:nth-child(2) {
  display: none;
}
#burger:checked ~ label > span:nth-child(3) {
  transform: rotate(45deg);
  position: absolute;
}

#burger:checked ~ label ~ .header_list_wrap {
  z-index: 200;
  display: grid;
  top: 0px;
  margin-left: -10px;
  user-select: none;
  min-width: 268px;
  height: 100%;
  background-color: rgb(23, 23, 23);
  border-radius: 0px;
  font-family: "Lexend", sans-serif;
  li {
    position: relative;
    z-index: 5;
    line-height: 160%;
    cursor: pointer;
    list-style: none;
    color: white;
  }
  li::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(..//img/category.svg);
    background-size: cover;
    background-position: center center;
    margin-right: 12px;
    vertical-align: top;
  }
  li:nth-child(1):before {
    background-image: url(..//img/category.svg);
  }
  li:nth-child(2):before {
    background-image: url(..//img/chart.svg);
  }
  li:nth-child(3):before {
    background-image: url(..//img/send.svg);
  }
  li:nth-child(4):before {
    background-image: url(..//img/plus.svg);
  }
  li:nth-child(5):before {
    background-image: url(..//img/upload.svg);
  }
  li:nth-child(6):before {
    background-image: url(..//img/wallet.svg);
  }
  li:nth-child(7):before {
    background-image: url(..//img/paper.svg);
  }
  li:nth-child(8):before {
    background-image: url(..//img/profile.svg);
  }
  li:nth-child(9):before {
    background-image: url(..//img/setting.svg);
  }
}

#burger:checked ~ label ~ .header_list_wrap > ul {
  color: rgb(0, 0, 0);
  height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.header_list_wrap {
  display: none;
}

.header_list_wrap > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 00px;
  column-gap: 40px;

}

.header_list_wrap > ul > li a {
  text-decoration: none;
  color: var(--text-color-light);
  font-weight: 600;
  font-size: 20px;
}
.header_list_wrap > ul > li a:hover {
  color: var(--text-color);
}